.count-container {
    border: 1px solid hotpink;
    background-color: rgba(95, 146, 255, 0.562);
    color: tomato;
}

.members-count {
    text-align: center;
}

.total-cost {
    border-top: 1px solid rgb(255, 220, 238);
}

.member-add-card {
    border: 1px solid sienna;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 55, 128, 0.452);
}

li {
    border: 1px solid rgb(255, 17, 0);
    border-collapse: collapse;
    list-style: none;
    color: rgb(194, 248, 255);
    margin: 4px 0;
    transition: .5s;
    background-color: rgb(0, 99, 165);
}

li:hover {
    background-color: rgb(10, 10, 10);
    transition: .5s;
    color: tomato;
}