.header-container {
    text-align: center;
    height: 400px;
    background-image: url(./img/robert-bock-cV4qkkorDFY-unsplash.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.header-title {
    padding-top: 50px;
    color: rgb(255, 255, 255);
}